@font-face {
    font-family: 'NewYorkExtraLarge';
    src: url('../fonts/NewYorkExtraLarge.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
h1 {
    font-family: 'NewYorkExtraLarge', sans-serif;
}
  
/* Apply to the entire web page */
body {
    font-family: 'NewYorkExtraLarge', sans-serif;
  }
  
  /* Or apply to specific elements, e.g., headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'NewYorkExtraLarge', sans-serif;
  }
  
    